body {
  margin: 5vh 250px 25px;
  font-family: "Verdana", sans-serif;
}

#homePage {
  margin: 20vh 20vw;
  font-size: large;
}

table {
  font-family: "Verdana", sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin-bottom: 20px;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #9c9c9c;
}

div#myDiv,
div#myDivLower {
  width: 1500px;
  margin: 0 auto;
  border-style: solid;
}
